/* sections */

.grow-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

/* titles */

.heading {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

/* paddings */

.section-padding {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* services */

.focused {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}



